h1 {
text-align: center;
font-size:200px;
color:white;
font-family:Times;
font-weight:bold;
letter-spacing:5px;
text-decoration:rgb(216, 216, 210);
text-transform:capitalize;
text-indent:30px
}   
p {
    text-align: center;
    font-size:60px;
    color:rgba(231, 231, 195, 0.74);
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    letter-spacing:0px;
    text-decoration:rgb(71, 71, 60);
    text-transform:capitalize;
    text-indent:30px
    }   
body {
    background-color: rgb(44, 40, 40);
    }   
img { 
 opacity: 0.5;
 padding: 10px;
 margin: auto;
 align-items: center;
 width: 1500px;
 }
 h2 {
    text-align: left;
    font-size:  50px;
    color:white;
    font-family: times;
    font-weight:bold;
    text-decoration:rgb(233, 233, 213);
    text-transform:capitalize;
    text-indent:30px
    } 
    p2 {
        text-align: center;
        font-size:30px;
        color:rgba(231, 231, 195, 0.74);
        font-family:Arial;
        text-decoration:rgb(71, 71, 60);
        text-transform:capitalize;
        text-indent:30px
        }
        h3 {
            text-align: left;
            font-size:  50px;
            color:white;
            font-family: times;
            font-weight:bold;
            text-decoration:rgb(233, 233, 213);
            text-transform:capitalize;
            text-indent:30px
            } 
 